--
-- PostgreSQL database dump
--

\restrict vVZfOPmvMHLlNE5FbdR2fuBzsd0OZyKq8faOuxYJWQeE4PNwGGQEftnv5LiC4DR

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: formularios_contacto; Type: TABLE; Schema: public; Owner: casatic
--

CREATE TABLE public.formularios_contacto (
    "Id" uuid DEFAULT gen_random_uuid() NOT NULL,
    "SocioId" uuid NOT NULL,
    "Nombre" character varying(200) NOT NULL,
    "Correo" character varying(256) NOT NULL,
    "Mensaje" text NOT NULL,
    "Fecha" timestamp with time zone DEFAULT now() NOT NULL,
    "Leido" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.formularios_contacto OWNER TO casatic;

--
-- Name: logs_actividad; Type: TABLE; Schema: public; Owner: casatic
--

CREATE TABLE public.logs_actividad (
    "Id" uuid DEFAULT gen_random_uuid() NOT NULL,
    "TipoEvento" character varying(30) NOT NULL,
    "Fecha" timestamp with time zone DEFAULT now() NOT NULL,
    "Query" text,
    "SocioId" uuid,
    "UsuarioId" uuid,
    "Ip" text,
    "UserAgent" text
);


ALTER TABLE public.logs_actividad OWNER TO casatic;

--
-- Name: socios; Type: TABLE; Schema: public; Owner: casatic
--

CREATE TABLE public.socios (
    "Id" uuid DEFAULT gen_random_uuid() NOT NULL,
    "NombreEmpresa" character varying(300) NOT NULL,
    "Slug" character varying(300) NOT NULL,
    "Descripcion" text NOT NULL,
    "Especialidades" text[] NOT NULL,
    "Servicios" text[] NOT NULL,
    "RedesSociales" jsonb NOT NULL,
    "Telefono" text NOT NULL,
    "Direccion" text NOT NULL,
    "LogoUrl" text NOT NULL,
    "EmailContacto" text DEFAULT ''::text NOT NULL,
    "MapaUrl" text DEFAULT ''::text NOT NULL,
    "MarcasRepresenta" text NOT NULL,
    "EstadoFinanciero" character varying(20) NOT NULL,
    "Habilitado" boolean NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "SearchVector" tsvector GENERATED ALWAYS AS (to_tsvector('spanish'::regconfig, (((COALESCE("NombreEmpresa", ''::character varying))::text || ' '::text) || COALESCE("Descripcion", ''::text)))) STORED
);


ALTER TABLE public.socios OWNER TO casatic;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: casatic
--

CREATE TABLE public.usuarios (
    "Id" uuid DEFAULT gen_random_uuid() NOT NULL,
    "Email" character varying(256) NOT NULL,
    "PasswordHash" text NOT NULL,
    "Rol" character varying(20) NOT NULL,
    "PrimerLogin" boolean NOT NULL,
    "Activo" boolean NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "SocioId" uuid
);


ALTER TABLE public.usuarios OWNER TO casatic;

--
-- Data for Name: formularios_contacto; Type: TABLE DATA; Schema: public; Owner: casatic
--

COPY public.formularios_contacto ("Id", "SocioId", "Nombre", "Correo", "Mensaje", "Fecha", "Leido") FROM stdin;
\.


--
-- Data for Name: logs_actividad; Type: TABLE DATA; Schema: public; Owner: casatic
--



--
-- Data for Name: socios; Type: TABLE DATA; Schema: public; Owner: casatic
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: casatic
--

COPY public.usuarios ("Id", "Email", "PasswordHash", "Rol", "PrimerLogin", "Activo", "CreatedAt", "SocioId") FROM stdin;
2c9eee2e-01f8-4ed3-8a48-0fbf2307b0c4	admin@casatic.org	$2a$11$VuegmGToIxDfCbEh8yqESuVCbCCGL380rTCHLIceG5ftctkjRHM8S	Admin	f	t	2026-03-17 16:37:10.12843+00	\N
\.


--
-- Name: formularios_contacto PK_formularios_contacto; Type: CONSTRAINT; Schema: public; Owner: casatic
--

ALTER TABLE ONLY public.formularios_contacto
    ADD CONSTRAINT "PK_formularios_contacto" PRIMARY KEY ("Id");


--
-- Name: logs_actividad PK_logs_actividad; Type: CONSTRAINT; Schema: public; Owner: casatic
--

ALTER TABLE ONLY public.logs_actividad
    ADD CONSTRAINT "PK_logs_actividad" PRIMARY KEY ("Id");


--
-- Name: socios PK_socios; Type: CONSTRAINT; Schema: public; Owner: casatic
--

ALTER TABLE ONLY public.socios
    ADD CONSTRAINT "PK_socios" PRIMARY KEY ("Id");


--
-- Name: usuarios PK_usuarios; Type: CONSTRAINT; Schema: public; Owner: casatic
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT "PK_usuarios" PRIMARY KEY ("Id");


--
-- Name: IX_formularios_contacto_SocioId; Type: INDEX; Schema: public; Owner: casatic
--

CREATE INDEX "IX_formularios_contacto_SocioId" ON public.formularios_contacto USING btree ("SocioId");


--
-- Name: IX_logs_actividad_Fecha; Type: INDEX; Schema: public; Owner: casatic
--

CREATE INDEX "IX_logs_actividad_Fecha" ON public.logs_actividad USING btree ("Fecha");


--
-- Name: IX_logs_actividad_SocioId; Type: INDEX; Schema: public; Owner: casatic
--

CREATE INDEX "IX_logs_actividad_SocioId" ON public.logs_actividad USING btree ("SocioId");


--
-- Name: IX_logs_actividad_TipoEvento; Type: INDEX; Schema: public; Owner: casatic
--

CREATE INDEX "IX_logs_actividad_TipoEvento" ON public.logs_actividad USING btree ("TipoEvento");


--
-- Name: IX_socios_SearchVector; Type: INDEX; Schema: public; Owner: casatic
--

CREATE INDEX "IX_socios_SearchVector" ON public.socios USING gin ("SearchVector");


--
-- Name: IX_socios_Slug; Type: INDEX; Schema: public; Owner: casatic
--

CREATE UNIQUE INDEX "IX_socios_Slug" ON public.socios USING btree ("Slug");


--
-- Name: IX_usuarios_Email; Type: INDEX; Schema: public; Owner: casatic
--

CREATE UNIQUE INDEX "IX_usuarios_Email" ON public.usuarios USING btree ("Email");


--
-- Name: IX_usuarios_SocioId; Type: INDEX; Schema: public; Owner: casatic
--

CREATE INDEX "IX_usuarios_SocioId" ON public.usuarios USING btree ("SocioId");


--
-- Name: formularios_contacto FK_formularios_contacto_socios_SocioId; Type: FK CONSTRAINT; Schema: public; Owner: casatic
--

ALTER TABLE ONLY public.formularios_contacto
    ADD CONSTRAINT "FK_formularios_contacto_socios_SocioId" FOREIGN KEY ("SocioId") REFERENCES public.socios("Id") ON DELETE CASCADE;


--
-- Name: logs_actividad FK_logs_actividad_socios_SocioId; Type: FK CONSTRAINT; Schema: public; Owner: casatic
--

ALTER TABLE ONLY public.logs_actividad
    ADD CONSTRAINT "FK_logs_actividad_socios_SocioId" FOREIGN KEY ("SocioId") REFERENCES public.socios("Id") ON DELETE SET NULL;


--
-- Name: usuarios FK_usuarios_socios_SocioId; Type: FK CONSTRAINT; Schema: public; Owner: casatic
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT "FK_usuarios_socios_SocioId" FOREIGN KEY ("SocioId") REFERENCES public.socios("Id");


--
-- PostgreSQL database dump complete
--

\unrestrict vVZfOPmvMHLlNE5FbdR2fuBzsd0OZyKq8faOuxYJWQeE4PNwGGQEftnv5LiC4DR

